if TARGET_MCOM03_BUB

config SYS_BOARD
	default "mcom03-bub"

config SYS_CONFIG_NAME
	default "mcom03-bub"

config MEM_REGIONS_ADDR
	hex "Address to read DDR info from"
	default 0xE0000000
	help
	  Address to read DDR memory bank sizes and start addresses
	  from (written by ddrinit).

endif
