if ARCH_MCOM

config HW_WATCHDOG
	bool "Enable watchdog at startup"
	default no
	help
	  Enable watchdog timer for SPL and U-Boot

config DEBUG_DDR
	bool "Enable DDR debug printing"
	default no
	help
	  Print debug information during DDR initialization

config SYS_SOC
	default "mcom"

source "board/elvees/mcom/Kconfig"

endif
