if ARCH_MCOM

config HW_WATCHDOG
	bool "Enable watchdog at startup"
	default no
	help
	  Enable watchdog timer for SPL and U-Boot

config DEBUG_DDR
	bool "Enable DDR debug printing"
	default no
	help
	  Print debug information during DDR initialization

menu "DDR calibration mode"

config DDR_CALIBRATION_DDRMC_ID
	int "DDRMC ID used for calibration"
	default 0

config DDR_CALIBRATION
	bool "Enable DDR calibration mode"
	select HW_WATCHDOG
	select SPL_WATCHDOG_SUPPORT
	default no
	help
	  In DDR calibration mode U-Boot SPL tries to read calibration
	  parameters from VRAM and initializes DDR according to this parameters.
	  If parameters read is failed U-Boot SPL initializes DDR as usual.

endmenu

config SYS_SOC
	default "mcom"

source "board/elvees/Kconfig"

endif
