
config SYS_VENDOR
	default "elvees"

if ARCH_MCOM03

choice
	prompt "MCom-03 board select"

config TARGET_HAPS
	bool "HAPS"
	select DM_ETH
	select DM_MMC
	help
	  Support for the following boards:
	    HAPS prototype for MCom-03

config TARGET_MCOM03
	bool "MCom-03"
	select DM_ETH
	select DM_MMC
	select DM_GPIO
	help
	  Support for the following boards:
	    ELV-MC03-SMARC r1.0-r1.1, NGFW-CB r1.0
	    ELV-MC03-SMARC r1.0-r1.1, Rock Pi N10
	    ELV-MC03-SMARC r1.0-r1.1, ELV-SMARC-CB r1.0
	    ELV-MC03-SMARC r2.2, ELV-SMARC-CB r2.9
	    MCom-03 Bring-Up Board r1.3.0
	    MCom-03 Bring-Up Board r1.5.0
	    Trustphone PM r1.5, Trustphone CB r1.1
	    Trustphone PM r2.0, Trustphone CB r2.0
	    ELV-MC03-Q7 r1.0, ELV-Q7-CB r1.0
	    ELV-MC03 r2.2, ELV-MC03-CB r1.0
	    EGW-PM r1.0, EGW-CB r1.0

config TARGET_MCOM03_ECAM03
	bool "ECAM03"
	select DM_ETH
	select DM_MMC
	select DM_GPIO
	help
	  Support for the following boards:
	    ECAM03BL r1.0
	    ECAM03DM r1.0
	    ECAM03PTZ r1.0
	    PM03CAM r1.0

endchoice

source "board/elvees/common/Kconfig"
source "board/elvees/haps/Kconfig"

config SETUP_MEMORY_TAGS
	bool "Enable memory tag"
	depends on !ENV_IS_IN_UBI
	default y
	help
	  Describe memory regions for the kernel.

config CMDLINE_TAG
	bool "Enable passing of ATAGs"
	default y
	help
	  This ensures that U-Boot will boot the kernel with
	  a command-line tag that incorporates the kernel options
	  you set in the "bootargs" environment variable.

config MCOM03_EXTERNAL_DTB_ADDR
	hex "External DTB memory address"
	default 0x890402000
	default 0xD0000000 if TARGET_HAPS
	help
	  This option contains memory address where U-Boot tries to
	  find external DTB, which can be passed by previous bootloader.

config MCOM03_XTAL_FREQ
	int "XTAL frequency"
	default 27000000

config MEM_REGIONS_ADDR
	hex "Address to read DDR info from"
	default 0x890400000
	help
	  Address to read DDR memory bank sizes and start addresses
	  from (written by ddrinit).

config DDRMC_MAX_NUMBER
	int
	default 2
	help
	  Number of DDR controllers

config FDTFILE
	string
	help
	  Default value for fdtfile variable.

endif
