
config SYS_VENDOR
	default "elvees"

if ARCH_MCOM03

choice
	prompt "MCom-03 board select"

config TARGET_HAPS
	bool "HAPS"
	select DM_ETH
	select DM_MMC
	help
	  Support for the following boards:
	    HAPS prototype for MCom-03

config TARGET_MCOM03_BUB
	bool "MCom-03 BuB"
	select DM_ETH
	select DM_MMC
	select DM_GPIO
	help
	  Support for the following boards:
	    MCom-03 Bring-Up Board r1.3.0

config TARGET_MCOM03_NGFWCB
	bool "MCom-03 NGFW-CB"
	select DM_ETH
	select DM_MMC
	select DM_GPIO
	help
	  Support for the following boards:
	    MCom-03 NGFW-CB r1.0

config TARGET_RTL
	bool "RTL"
	help
	  Support for RTL

endchoice

source "board/elvees/haps/Kconfig"
source "board/elvees/mcom03-bub/Kconfig"
source "board/elvees/ngfw-cb/Kconfig"
source "board/elvees/rtl/Kconfig"

config SETUP_MEMORY_TAGS
	bool "Enable memory tag"
	depends on !ENV_IS_IN_UBI
	default y
	help
	  Describe memory regions for the kernel.

config CMDLINE_TAG
	bool "Enable passing of ATAGs"
	default y
	help
	  This ensures that U-Boot will boot the kernel with
	  a command-line tag that incorporates the kernel options
	  you set in the "bootargs" environment variable.

config MCOM03_EXTERNAL_DTB_ADDR
	hex "External DTB memory address"
	default 0xD0000000
	help
	  This option contains memory address where U-Boot tries to
	  find external DTB, which can be passed by previous bootloader.

endif

config MCOM03_XTAL_FREQ
	int "XTAL frequency"
	default 27000000
