
config SYS_VENDOR
	default "elvees"

if ARCH_MCOM

choice
	prompt "MCom board select"

config TARGET_SALUTE_D1
	bool "Salute-D1"
	select SUPPORT_SPL
	help
	  Support for the following boards:
	    Salute-EL24D1
	    SBC-DBG
	    SBC-VM
	    VIP1-3D-OV7725
	    VIP1-EVA
	    VIP1-MC802
	    VIP1-MC805

config TARGET_SALUTE_D2
	bool "Salute-D2"
	select SUPPORT_SPL
	help
	  Support for the following boards:
	    Salute-EL24D2

config TARGET_IPKU
	bool "IP-KU"
	select SUPPORT_SPL
	help
	  Support for IP-KU board

config TARGET_SALUTE_PM
	bool "Salute-PM"
	select SUPPORT_SPL
	help
	  Support for Salute-EL24PM1 board

endchoice

source "board/elvees/salute-d1/Kconfig"
source "board/elvees/salute-d2/Kconfig"
source "board/elvees/ipku/Kconfig"
source "board/elvees/salute-pm/Kconfig"

config FDTFILE
	string "Default fdtfile env setting for this board"

config CONS_INDEX
	int "UART for messages output"
	default 1
	help
	  1 for UART0, 2 for UART1, etc

endif
