// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright 2021-2023 RnD Center "ELVEES", JSC
 */

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>

#include "mcom03.dtsi"

/ {
	model = "Trustphone PM r1.5";
	compatible = "elvees,trustphonepm-r1.5",
		     "elvees,trustphonepm",
		     "elvees,mcom03";

	sdhci0_supply: regulator@0 {
		compatible = "regulator-fixed";
		regulator-name = "sdhci0-supply";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
	};

	/delete-node/ sdr@1900000;
};

/* Connected to eMMC */
&sdhci0 {
	status = "okay";

	non-removable;
	bus-width = <8>;

	vqmmc-supply = <&sdhci0_supply>;
};

&emac0 {
	phy-mode = "rgmii";
	phy-handle = <&ethernet_phy0>;
	phy-reset-gpios = <&gpio1c 5 GPIO_ACTIVE_LOW>;
	elvees,pads-1v8-en;

	ethernet_phy0: ethernet-phy@3 {
		reg = <0x3>;
		/* This is max GTX_CLK skew (0b11111 * 60ps/step)
		 * for KSZ9031 Ethernet PHY
		 */
		txc-skew-ps = <1860>;
	};
};

&qspi0 {
	status = "okay";

	flash0: s25fl256s@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "jedec,spi-nor", "spi-flash";
		reg = <0x0>;
		/* This is the highest frequency at which all commands are
		 * supported by the flash device.
		 */
		spi-max-frequency = <50000000>;

		spi-tx-bus-width = <4>;
		spi-rx-bus-width = <4>;
	};
};
