// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright 2021 RnD Center "ELVEES", JSC
 */

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>

#include "mcom03.dtsi"

/ {	model = "MCom-03 Bring-Up Board r1.3.0";
	compatible = "elvees,mcom03-bub-r1.3.0";

	aliases {
		serial0 = &uart0;
		spi0 = &qspi;
	};

	cpu_clk: cpu_clk {
		#clock-cells = <0>;
		compatible = "fixed-clock";
		clock-frequency = <1400000000>;
	};

	common_clk: common_clk {
		#clock-cells = <0>;
		compatible = "fixed-clock";
		clock-frequency = <27000000>;
	};

	eth_bus_clk: eth_bus_clk {
		#clock-cells = <0>;
		compatible = "fixed-clock";
		clock-frequency = <125000000>;
	};

	sdmmc_clk: sdmmc_clk {
		#clock-cells = <0>;
		compatible = "fixed-clock";
		clock-frequency = <125000000>;
	};

	usb_suspend_clk: usb_suspend_clk {
		#clock-cells = <0>;
		compatible = "fixed-clock";
		clock-frequency = <25000000>;
	};

	usb_bus_clk: usb_bus_clk {
		#clock-cells = <0>;
		compatible = "fixed-clock";
		clock-frequency = <125000000>;
	};

	i2c_clk: i2c_clk {
		#clock-cells = <0>;
		compatible = "fixed-clock";
		clock-frequency = <102375000>;
	};

	chosen {
		stdout-path = "serial0:115200n8";
		bootargs = "earlycon console=ttyS0,115200";
	};

	reserved_memory: reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		cpu_reserved: cpu_reserved@C0000000 {
			reg = <0xC0080000 0x1000>;
			no-map;
		};
	};

	qspi_clk: qspi_clk {
		#clock-cells = <0>;
		compatible = "fixed-clock";
		clock-frequency = <25000000>;
	};
};

&uart0 {
	status = "okay";
	clock-frequency = <27000000>;
};

&sdhci0 {
	status = "okay";
	clocks = <&sdmmc_clk>, <&sdmmc_clk>;

	/* Disable High Speed support
	 * Disable 1.8V support
	 * Disable SDR50, SDR104 and DDR50 support
	 */
	sdhci-caps-mask = <0x7 0x4200000>;
	sdhci-caps = <0x0 0x0>;
};

&sdhci1 {
	status = "okay";
	clocks = <&sdmmc_clk>, <&sdmmc_clk>;
	non-removable;
	bus-width = <8>;
};

&timer0 {
	clocks = <&common_clk>;
	status = "okay";
};

&emac0 {
	#address-cells = <1>;
	#size-cells = <0>;
	phy-mode = "rgmii";
	phy-handle = <&ethernet_phy0>;
	clocks = <&eth_bus_clk>;
	phy-reset-gpios = <&gpio0c 6 GPIO_ACTIVE_HIGH>;

	ethernet_phy0: ethernet-phy@0 {
		reg = <0x1>;
		txc-skew-ps = <2000>;
		max-speed = <100>;
	};
};

&emac1 {
	#address-cells = <1>;
	#size-cells = <0>;
	phy-mode = "rgmii";
	phy-handle = <&ethernet_phy1>;
	clocks = <&eth_bus_clk>;
	phy-reset-gpios = <&gpio0c 7 GPIO_ACTIVE_HIGH>;

	ethernet_phy1: ethernet-phy@5 {
		reg = <0x5>;
		txc-skew-ps = <2000>;
		max-speed = <100>;
	};
};

&usb0 {
	status = "okay";
	clocks = <&usb_bus_clk>, <&usb_suspend_clk>, <&usb_suspend_clk>;
	clock-names = "bus_early", "ref", "suspend";
};

&usb1 {
	status = "okay";
	clocks = <&usb_bus_clk>, <&usb_suspend_clk>, <&usb_suspend_clk>;
	clock-names = "bus_early", "ref", "suspend";
};

&qspi {
	status = "okay";
	clocks = <&qspi_clk>, <&qspi_clk>;
};

&i2c1 {
	clocks = <&i2c_clk>;
	clock-frequency = <400000>;
	status = "okay";

	fram1: fram1@50 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "atmel,24c01";
		reg = <0x50>;
	};
};

&i2c2 {
	clocks = <&i2c_clk>;
	clock-frequency = <400000>;
	status = "okay";

	fram2: fram2@50 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "atmel,24c01";
		reg = <0x50>;
	};
};

&i2c3 {
	clocks = <&i2c_clk>;
	clock-frequency = <400000>;
	status = "okay";

	fram3: fram3@50 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "atmel,24c01";
		reg = <0x50>;
	};
};

&vpu {
	status = "okay";
};
