// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright 2022 RnD Center "ELVEES", JSC
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

/dts-v1/;

#include "mcom02-salute-el24pm2-r1.0-1.1.dtsi"

/ {
	model = "Salute-EL24PM2 r1.0-1.1 for RoboDeus SHB";
	compatible = "elvees,salute-el24pm2-r1.1",
		     "elvees,salute-el24pm2-r1.0",
		     "elvees,salute-el24pm2",
		     "elvees,mcom02";

	aliases {
		spi0 = &spi0;
	};
};

&uart1 {
	status = "okay";
};

&uart2 {
	status = "okay";
};

&ethernet {
	status = "okay";
};

/* RoboDeus-SHB power controller connect */

&i2c1 {
	tps53681@60 {
		compatible = "ti,tps53681";
		reg = <0x60>;
	};
};

/* RoboDeus-SHB board GPIO setup (power control, reset, etc.) */

&gpioa {
	skip-gpio-list = <31 17 16 15>;
};

&gpiod {
	skip-gpio-list = <14 13 12 11 10 9 8 7>;
};

