/*
 * Copyright 2018 RnD Center "ELVEES", JSC
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

/dts-v1/;

#include <dt-bindings/interrupt-controller/irq.h>

#include "mcom02.dtsi"

/ {
	model = "IP-KU r2.0";
	compatible = "elvees,ip-ku-r2.0",
		     "elvees,ip-ku",
		     "elvees,mcom02";

	chosen {
		bootargs = "console=ttyS0,115200";
	};

	aliases {
		spi0 = &spi0;
	};

	memory {
		device_type = "memory";
		reg = <0x40000000 0x40000000
		       0xa0000000 0x40000000>;
	};

	ls059t1sx01: dsi-panel {
		compatible = "elvees,mcom02-vpout-dsi";

		display-timings {
			1080x1920p60 {
				clock-frequency = <143592000>;
				hactive = <1080>;
				vactive = <1920>;
				hfront-porch = <100>;
				hback-porch = <50>;
				hsync-len = <10>;
				vfront-porch = <4>;
				vback-porch = <4>;
				vsync-len = <2>;
			};
		};

		port {
			dsi_in: endpoint {
				remote-endpoint = <&dsi_out>;
			};
		};
	};
};

&cpllclk {
	clock-mult = <14>;
};

&spi0 {
	status = "okay";
	num-cs = <1>;
	/* Third argument of "cs-gpios" property is set to 0,
	 * because it is ignored by the SPI driver. */
	cs-gpios = <&gpiod 18 0>;

	flash: flash@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "jedec,spi-nor", "spi-flash";
		reg = <0>;
		spi-max-frequency = <36000000>;
		m25p,fast-read;
		u-boot,dm-pre-reloc;
	};
};

&sd0 {
	status = "okay";
};

&sd1 {
	status = "okay";
	non-removable;
};

&usb {
	status = "okay";
};

&gpioc {
	skip-gpio-list = <14>;
};

/* IP-KU hangs at high SPLL values, so we should decrease it. */
&spllclk {
	clk-mult-initial = <6>;
};

&l3_pclk {
	clock-div = <1>;
};

&vpout {
	status = "okay";

	port {
		#address-cells = <1>;
		#size-cells = <0>;

		dsi_out: endpoint@0 {
			reg = <0>;
			remote-endpoint = <&dsi_in>;
			info {
				label = "DSI";
				bpp = <24>;
			};
		};
	};
};
