// SPDX-License-Identifier: GPL-2.0+
// Copyright 2026 RnD Center "ELVEES", JSC

/dts-v1/;

#include "mcom03r-ip-ku-m1-r1.0.dts"

/ {
	model = "MCom-03R IP-KU M1 r1.1";
	compatible = "elvees,ip-ku-m1-r1.1",
		     "elvees,ip-ku-m1",
		     "elvees,mcom03r";
};

&emac0 {
	/delete-node/ ethernet-phy@0;
	ethernet_phy0: ethernet-phy@0 {
		reg = <0x0>;
		tx-internal-delay-ps = <2000>;
		max-speed = <100>;
	};
};

&emac1 {
	/delete-node/ ethernet-phy@0;
	ethernet_phy1: ethernet-phy@0 {
		reg = <0x0>;
		tx-internal-delay-ps = <2000>;
		max-speed = <100>;
	};
};

