/*
 * Copyright 2017 RnD Center "ELVEES", JSC
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

#include "mcom02-salute-el24om1-r1.1-1.2.dtsi"

/ {
	backlight: backlight {
		compatible = "pwm-backlight";
		pwms = <&pwm 0 500000>;
		brightness-levels = <
			 0  1  2  3  4  5  6  7  8  9
			10 11 12 13 14 15 16 17 18 19
			20 21 22 23 24 25 26 27 28 29
			30 31 32 33 34 35 36 37 38 39
			40 41 42 43 44 45 46 47 48 49
			50 51 52 53 54 55 56 57 58 59
			60 61 62 63 64 65 66 67 68 69
			70 71 72 73 74 75 76 77 78 79
			80 81 82 83 84 85 86 87 88 89
			90 91 92 93 94 95 96 97 98 99
			100>;
		default-brightness-level = <50>;
	};

	at070tn92: panel0 {
		compatible = "elvees,mcom02-vpout,panel";

		panel-info {
			bpp = <32>;
		};

		display-timings {
			800x480p60 {
				clock-frequency = <33300000>;
				hactive = <800>;
				vactive = <480>;
				hfront-porch = <85>;
				hback-porch = <85>;
				hsync-len = <86>;
				vfront-porch = <15>;
				vback-porch = <15>;
				vsync-len = <15>;
			};
		};
	};

	ej070na: panel1 {
		compatible = "elvees,mcom02-vpout,panel";

		panel-info {
			bpp = <32>;
		};

		display-timings {
			1024x600p60 {
				clock-frequency = <51206400>;
				hactive = <1024>;
				vactive = <600>;
				hfront-porch = <100>;
				hback-porch = <100>;
				hsync-len = <120>;
				vfront-porch = <10>;
				vback-porch = <10>;
				vsync-len = <15>;
			};
		};
	};
};

&i2c2 {
	ft5206: touchscreen@38 {
		compatible = "edt,edt-ft5206";
		reg = <0x38>;
		interrupt-parent = <&gpioa>;
		interrupts = <16 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpioa 5 GPIO_ACTIVE_LOW>;
		touchscreen-size-x = <600>;
		touchscreen-size-y = <1024>;
	};
};

&pwm {
	status = "okay";
};

&vpout {
	status = "okay";
};
