// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright 2020 RnD Center "ELVEES", JSC
 */

/dts-v1/;

#include "mcom03-haps-common.dtsi"

/ {
	model = "MCom-03 HAPS, full configuration";

	acptest {
		compatible = "elvees,acptest";
	};

	common_clk: common_clk {
		#clock-cells = <0>;
		compatible = "fixed-clock";
		clock-frequency = <5000000>;
	};
};

&gpu {
	status = "okay";
};

&vpu {
	status = "okay";
};

&emac0 {
	#address-cells = <1>;
	#size-cells = <0>;
	phy-mode = "gmii";
	status = "okay";
	phy-handle = <&ethernet_phy>;
	clocks = <&common_clk>;

	ethernet_phy: ethernet-phy@0 {
		reg = <0x0>;
	};
};

&qlic0 {
	status = "okay";
};

&elcore0 {
	status = "okay";
};
