// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright 2020 RnD Center "ELVEES", JSC
 */

/dts-v1/;

#include "mcom03-haps-common.dtsi"

/ {
	model = "MCom-03 HAPS, full configuration";

	aliases {
		spi0 = &qspi;
	};

	acptest {
		compatible = "elvees,acptest";
	};

	cpu_clk: cpu_clk {
		#clock-cells = <0>;
		compatible = "fixed-clock";
		clock-frequency = <10000000>;
	};

	common_clk: common_clk {
		#clock-cells = <0>;
		compatible = "fixed-clock";
		clock-frequency = <5000000>;
	};
};

/* To workaround bug MCOM03SW-382 "carveout" memory allocator is used
   in ISP driver. This is temporary solution. */
&reserved_memory {
	isp_reserved: isp_reserved@0xf0000000 {
		no-map;
		reg = <0 0xf0000000 0 0x8000000>;
	};
};

&isp {
	status = "okay";
	img,carveout-memory = <&isp_reserved>;
	clocks = <&common_clk>;
};

&gpu {
	status = "okay";
};

&vpu {
	status = "okay";
};

&emac0 {
	#address-cells = <1>;
	#size-cells = <0>;
	phy-mode = "gmii";
	status = "okay";
	phy-handle = <&ethernet_phy>;
	clocks = <&common_clk>;

	/* These two are required on HAPS due to its low frequency */
	arasan,max-mdc-freq = <150000>;
	arasan,tx-start-threshold = <1518>;

	ethernet_phy: ethernet-phy@0 {
		reg = <0x0>;
	};
};

&qlic0 {
	status = "okay";
};

&elcore0 {
	status = "okay";
};

&elcore1 {
	status = "okay";
};

&timer0 {
	clocks = <&common_clk>;
	status = "okay";
};

&timer1 {
	clocks = <&common_clk>;
	status = "okay";
};

&timer2 {
	clocks = <&common_clk>;
	status = "okay";
};

&timer3 {
	clocks = <&common_clk>;
	status = "okay";
};

&timer4 {
	clocks = <&common_clk>;
	status = "okay";
};

&timer5 {
	clocks = <&common_clk>;
	status = "okay";
};

&timer6 {
	clocks = <&common_clk>;
	status = "okay";
};

&timer7 {
	clocks = <&common_clk>;
	status = "okay";
};

&wdt0 {
	clocks = <&common_clk>;
};

&qspi {
	clocks = <&common_clk>, <&common_clk>;
	status = "okay";

	flash0: s25fl128s@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		reg = <0>;
		compatible = "jedec,spi-nor";
		spi-max-frequency = <20000000>;
	};
};

&sdhci0 {
	/* SDHCI0 is connected to eMMC on HAPS */
	clocks = <&common_clk>, <&common_clk>;
	bus-width = <8>;
	no-1-8-v;
	non-removable;
	status = "okay";
	elvees,broken-hs;
	elvees,haps;
};
