// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright 2021 RnD Center "ELVEES", JSC
 */

/dts-v1/;

#include <dt-bindings/net/ti-dp83867.h>

#include "mcom03.dtsi"

/ {
	model = "ELV-MC03-SMARC r1.0";
	compatible = "elvees,elvmc03smarc-r1.0",
		     "elvees,elvmc03smarc",
		     "elvees,mcom03";

	sdhci0_supply: regulator@0 {
		compatible = "regulator-fixed";
		regulator-name = "sdhci0-supply";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
	};
};

&gpio0d {
	gpio-line-names = "SER2_TX", "USB_HUB_RST", "LED_ORANGE", "I2C0_SCL",
		"I2C0_SDA", "I2C0_SMBALERT", "RGMII_0_RST#", "LED_BLUE";

	reset-usb2517-hub-hog {
		gpio-hog;
		gpios = <1 GPIO_ACTIVE_HIGH>;
		output-low;
	};
};

/* Connected to eMMC */
&sdhci0 {
	status = "okay";

	non-removable;
	bus-width = <8>;

	vqmmc-supply = <&sdhci0_supply>;
};

&emac0 {
	phy-mode = "rgmii";
	phy-handle = <&ethernet_phy0>;
	clocks = <&eth_bus_clk>;
	phy-reset-gpios = <&gpio0d 6 GPIO_ACTIVE_LOW>;
	elvees,pads-1v8-en;

	/* TODO: Remove this extra PHY reset cycle.
	 * DP83867 has to be reset twice on this module.
	 * The reason is currently unknown.
	 */
	elvees,extra-phy-reset-cycle;

	ethernet_phy0: ethernet-phy@4 {
		reg = <0x4>;
		ti,rx-internal-delay = <DP83867_RGMIIDCTL_2_00_NS>;
		ti,tx-internal-delay = <DP83867_RGMIIDCTL_2_00_NS>;
		ti,fifo-depth = <DP83867_PHYCR_FIFO_DEPTH_4_B_NIB>;
	};
};

&emac1 {
	phy-mode = "rgmii";
	phy-handle = <&ethernet_phy1>;
	clocks = <&eth_bus_clk>;
	phy-reset-gpios = <&gpio0c 7 GPIO_ACTIVE_LOW>;
	elvees,pads-1v8-en;

	/* TODO: Remove this extra PHY reset cycle.
	 * DP83867 has to be reset twice on this module.
	 * The reason is currently unknown.
	 */
	elvees,extra-phy-reset-cycle;

	ethernet_phy1: ethernet-phy@5 {
		reg = <0x5>;
		ti,rx-internal-delay = <DP83867_RGMIIDCTL_2_50_NS>;
		ti,tx-internal-delay = <DP83867_RGMIIDCTL_2_50_NS>;
		ti,fifo-depth = <DP83867_PHYCR_FIFO_DEPTH_4_B_NIB>;
	};
};

&qspi0 {
	status = "okay";

	flash0: s25fl128s@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "jedec,spi-nor", "spi-flash";
		reg = <0x0>;
		/* This is the highest frequency at which all commands are
		 * supported by the flash device.
		 */
		spi-max-frequency = <50000000>;

		spi-tx-bus-width = <4>;
		spi-rx-bus-width = <4>;
	};
};

/* Serial port definitions for SMARC */
ser1: &uart0 { };
ser2: &uart2 { };
ser3: &uart1 { };
