// SPDX-License-Identifier: GPL-2.0+
// Copyright 2025 RnD Center "ELVEES", JSC

/dts-v1/;

#include "mcom03r-elvmc03smarc-r3.0.0.dtsi"
#include "mcom03-smarccommoncb-r1.0.dtsi"

/ {
	model = "ELV-MC03-SMARC r3.0.0, SMARC-COMMON-CB r1.0";
	compatible = "elvees,elvmc03smarc-r3.0.0-smarccommoncb-r1.0",
		     "elvees,elvmc03smarc-smarccommoncb",
		     "elvees,smarccommoncb-r1.0",
		     "elvees,smarccommoncb",
		     "elvees,elvmc03smarc-r3.0.0",
		     "elvees,elvmc03smarc",
		     "elvees,mcom03r";

	chosen {
		stdout-path = "serial0:115200n8";
	};
};
