/*
 * Copyright 2017 RnD Center "ELVEES", JSC
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

/dts-v1/;

#include <dt-bindings/interrupt-controller/irq.h>

#include "mcom02-salute-el24pm1-r1.1.dtsi"

/ {
	model = "Salute-EL24OM1 r1.1";

	chosen {
		bootargs = "console=ttyS0,115200";
	};

	aliases {
		spi0 = &spi0;
	};

	backlight {
		compatible = "pwm-backlight";
		pwms = <&pwm 0 500000>;

		default-brightness-level = <50>;
		brightness-levels = < 0  1  2  3  4  5  6  7  8  9
				     10 11 12 13 14 15 16 17 18 19
				     20 21 22 23 24 25 26 27 28 29
				     30 31 32 33 34 35 36 37 38 39
				     40 41 42 43 44 45 46 47 48 49
				     50 51 52 53 54 55 56 57 58 59
				     60 61 62 63 64 65 66 67 68 69
				     70 71 72 73 74 75 76 77 78 79
				     80 81 82 83 84 85 86 87 88 89
				     90 91 92 93 94 95 96 97 98 99
				    100>;
	};

	clocks {
		can_clk: can_clk {
			#clock-cells = <0>;
			compatible = "fixed-clock";
			clock-frequency = <16000000>;
		};
	};

	leds {
		dbgled2 {
			label = "salute:green:dbgled2";
			gpios = <&gpioa 15 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "mmc1";
		};

		dbgled3 {
			label = "salute:green:dbgled3";
			gpios = <&gpiod 12 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		dbgled4 {
			label = "salute:green:dbgled4";
			gpios = <&gpiod 11 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		dbgled5 {
			label = "salute:green:dbgled5";
			gpios = <&gpiod 8 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
	};

	regulators {
		can_xceiver_reg: regulator@1 {
			compatible = "regulator-fixed";
			reg = <0x1>;
			regulator-name = "can-xceiver";
			gpio = <&gpiod 21 0>;
		};
	};
};

&ethernet {
	status = "okay";
};

&framebuffer {
	status = "okay";
};

&ft313h {
	status = "okay";
};

&i2c2 {
	ft5206: touchscreen@38 {
		compatible = "edt,edt-ft5206";
		reg = <0x38>;
		interrupt-parent = <&gpioa>;
		interrupts = <16 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpioa 5 GPIO_ACTIVE_LOW>;
		touchscreen-size-x = <600>;
		touchscreen-size-y = <1024>;
		status = "disabled";
	};

	mcp7940x: rtc@6f {
		compatible = "microchip,mcp7940x";
		reg = <0x6f>;
	};
};

&pwm {
	status = "okay";
};

&sd1 {
	status = "okay";
};

&sound {
	status = "okay";
};

&spi0 {
	num-cs = <2>;
	/* Third argument of "cs-gpios" property is set to 0,
	 * because it is ignored by the SPI driver. */
	cs-gpios = <&gpiod 18 0>, <&gpiod 19 0>;

	can: can@1 {
		compatible = "microchip,mcp2515";
		reg = <0x1>;
		spi-max-frequency = <10000000>;
		clocks = <&can_clk>;
		interrupt-parent = <&gpioa>;
		interrupts = <31 GPIO_ACTIVE_HIGH>;
		xceiver-supply = <&can_xceiver_reg>;
	};
};

&uart2 {
	status = "okay";
};

/* RS-485 is used as physical layer for UART3 */
&uart3 {
	status = "okay";
};
