// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright 2023 RnD Center "ELVEES", JSC
 */

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>

#include "mcom03.dtsi"

/ {
	model = "MONO-BOARD r1.1.1";
	compatible = "elvees,monoboard-r1.1.1",
		     "elvees,monoboard",
		     "elvees,mcom03";

	chosen {
		stdout-path = "serial0:115200n8";
	};
};

&uart0 {
	status = "okay";
	clock-frequency = <27920454>;
};

&usb0 {
	status = "okay";
};

&usb1 {
	status = "okay";
};

&emac0 {
	status = "okay";
	phy-mode = "rgmii-id";
	phy-reset-gpios = <&gpio0c 0 GPIO_ACTIVE_LOW>;
	phy-handle = <&ethernet_phy0>;

	ethernet_phy0: ethernet-phy@0 {
		reg = <0x0>;
		motorcomm,clk-out-frequency-hz = <0>;
		rx-internal-delay-ps = <1800>;
		tx-internal-delay-ps = <1200>;
	};
};
