// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright 2021 RnD Center "ELVEES", JSC
 */

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>

#include "mcom03.dtsi"

/ {
	model = "Trustphone PM r1.5";
	compatible = "elvees,trustphonepm-r1.5",
		     "elvees,trustphonepm",
		     "elvees,mcom03";
};

&emac0 {
	phy-mode = "rgmii";
	phy-handle = <&ethernet_phy0>;
	phy-reset-gpios = <&gpio1c 5 GPIO_ACTIVE_LOW>;
	elvees,pads-1v8-en;

	ethernet_phy0: ethernet-phy@3 {
		reg = <0x3>;
		/* This is max GTX_CLK skew (0b11111 * 60ps/step)
		 * for KSZ9031 Ethernet PHY
		 */
		txc-skew-ps = <1860>;
	};
};
