// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright 2023 RnD Center "ELVEES", JSC
 */

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>

#include "mcom03.dtsi"

/ {
	model = "ELV-MC03-Q7 r2.1.1";
	compatible = "elvees,elvmc03q7-r2.1.1",
		     "elvees,elvmc03q7",
		     "elvees,mcom03";

	sdhci0_supply: regulator@0 {
		compatible = "regulator-fixed";
		regulator-name = "sdhci0-supply";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
	};
};

/* Connected to eMMC */
&sdhci0 {
	status = "okay";

	non-removable;
	bus-width = <8>;

	vqmmc-supply = <&sdhci0_supply>;
};

&qspi0 {
	status = "okay";

	flash0: w25q16@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "jedec,spi-nor", "spi-flash";
		reg = <0x0>;

		spi-tx-bus-width = <4>;
		spi-rx-bus-width = <4>;
	};
};

&emac0 {
	phy-mode = "rgmii-id";
	phy-handle = <&ethernet_phy0>;
	phy-reset-gpios = <&gpio1d 0 GPIO_ACTIVE_LOW>;

	ethernet_phy0: ethernet-phy@0 {
		reg = <0x0>;
		rx-internal-delay-ps = <1800>;
		tx-internal-delay-ps = <1200>;
	};
};
