# This file for MCom-03 based boards. In case multiple MTD devices
# exist (e.g SPI and NAND) in the system order of driver initialization and
# hence MTD devices names are inconsistent and can vary from boot to boot.
# Its upon distribution to guarantee consistent SPI device name e.g using udev
# rules.

# This file contains the description of SBL environment location in SPI NOR Flash.

# MTD device name		Device offset	Env. size	Flash sector size	Number of sectors
/dev/mtd/by-name/spi0.0		-0x30000	0x10000		0x10000
