CONFIG_ARM=y
CONFIG_ARCH_MCOM03=y
CONFIG_SYS_TEXT_BASE=0xC0080000
CONFIG_SYS_MALLOC_F_LEN=0x4000
CONFIG_ENV_SIZE=0x10000
CONFIG_SPL_SYS_MALLOC_F_LEN=0x400
CONFIG_ARMV8_SET_SMPEN=y
CONFIG_TPL_SYS_MALLOC_F_LEN=0x400
# CONFIG_DISPLAY_CPUINFO is not set
CONFIG_HUSH_PARSER=y
CONFIG_CMD_MEMINFO=y
CONFIG_CMD_MMC=y
CONFIG_CMD_DHCP=y
CONFIG_CMD_PING=y
CONFIG_CMD_CACHE=y
CONFIG_DEFAULT_DEVICE_TREE="mcom03-haps-cpu"
CONFIG_NET_RANDOM_ETHADDR=y
CONFIG_MMC_SDHCI=y
CONFIG_MMC_SDHCI_SDMA=y
CONFIG_MMC_SDHCI_MCOM03=y
CONFIG_ARASAN_GEMAC=y
CONFIG_DM_RESET=y
CONFIG_RESET_MCOM03=y
CONFIG_SYS_NS16550=y
