CONFIG_ARM=y
CONFIG_ARCH_MCOM03=y
CONFIG_SYS_TEXT_BASE=0xC0000000
CONFIG_ENV_SIZE=0x10000
CONFIG_ARMV8_SET_SMPEN=y
# CONFIG_DISPLAY_CPUINFO is not set
CONFIG_OF_EMBED=y
CONFIG_DEFAULT_DEVICE_TREE="mcom03-haps"
CONFIG_SYS_NS16550=y
