CONFIG_ARM=y
CONFIG_ARCH_MCOM03=y
CONFIG_SYS_TEXT_BASE=0xC0000000
CONFIG_TARGET_RTL=y
CONFIG_ENV_SIZE=0x10000
CONFIG_DEFAULT_DEVICE_TREE="mcom03-rtl"
CONFIG_ARMV8_SET_SMPEN=y
CONFIG_HAS_CUSTOM_SYS_INIT_SP_ADDR=y
CONFIG_CUSTOM_SYS_INIT_SP_ADDR=0xC0400000
CONFIG_BOOTDELAY=-2
# CONFIG_DISPLAY_CPUINFO is not set
CONFIG_OF_EMBED=y
CONFIG_SYS_NS16550=y
