CONFIG_ARM=y
CONFIG_ARCH_MCOM=y
CONFIG_TARGET_SBCDBG=y
CONFIG_FDTFILE="default.dtb"
CONFIG_SPL=y
CONFIG_SYS_PROMPT="mcom# "
# CONFIG_CMD_BOOTD is not set
# CONFIG_CMD_BOOTEFI is not set
# CONFIG_CMD_ELF is not set
# CONFIG_CMD_RUN is not set
# CONFIG_CMD_IMI is not set
# CONFIG_CMD_IMLS is not set
# CONFIG_CMD_XIMG is not set
CONFIG_CMD_MEMINFO=y
# CONFIG_CMD_LOADB is not set
# CONFIG_CMD_LOADS is not set
# CONFIG_CMD_FLASH is not set
# CONFIG_CMD_FPGA is not set
# CONFIG_CMD_NET is not set
# CONFIG_CMD_NFS is not set
# CONFIG_CMD_MISC is not set
CONFIG_CMD_TIMER=y
CONFIG_OF_LIBFDT=y
# CONFIG_EFI_LOADER is not set
